{% extends 'admin/home.html.twig' %}

{% block title %}Departments{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('click', '#delete', function(){
            var departmentId = $(this).closest("tr")[0].dataset['id'];

            $.ajax({
                type: 'DELETE',
                url: '/admin/departments',
                data: {
                    id: departmentId
                },
                success: function(response){
                    $('#row_' + departmentId).fadeOut(400, function(){
                        $(this).remove();
                    });
                },
                error: function (xhr, error, code){
                },
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container border rounded" style="margin-top: 2em; min-height: 20em">
        <h2>IT TroubleShooting - Departments</h2>

        <a class='btn btn-light' href="{{ url('department_form') }}">New Department</a>

        <table class="table" id="spaceshipsTable">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td style="width: 10%"><b>Actions</b></td>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr id="row_{{ department.id }}" data-id="{{ department.id }}">
                        <td>{{ department.title }}</td>
                        <td>
                            <!--<a class="btn btn-sm btn-primary" href="#"><i class="bi bi-pencil-square"></i></a>-->
                            <a class="btn btn-sm btn-danger" id="delete" href="#"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
